body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E8E6;
}

header {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #191919;
    color: white;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    color: #191919;
}

.hero {
    height: 350px; 
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("https://lv2.pigugroup.eu/testimonials/3a57a33c19351ae0b5172a245fe013b9.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #BB7E8C;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #553A41;
}

.products {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background: #d4d6d4;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px #191919;
}

.card img {
    width: 80%;
    height: 450px;
    object-fit: cover;
}

.old {
    text-decoration: line-through;
    color: #191919;
}

.new {
    color: #BB7E8C;
    font-weight: bold;
}

.search-bar {
    padding: 30px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 600px;
}

.contact-block {
    background-color: #191919;
    color: white;
    padding: 30px;
    text-align: left;
}

.contact-block p {
    margin: 10px 0;
}

footer {
    background-color: #E6E8E6;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.footer-top {
    background-color: #000000;
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: column;
    color: white;
}

.Copyright {
    display: flex;
    flex-direction: column;
    alihn-items: flex-start;
}
